@import "search";
@import "sidebar";
@import "watch_list";
@import "fav_list";

*{
  box-sizing: border-box;
  &::-webkit-scrollbar-track {
    //-webkit-box-shadow:  0 0 8px rgb(134, 255, 117);
    border: 1px solid rgba(134, 255, 117, .4);
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgb(109, 255, 254) ;
  }
}
body {
  background: #2e2e2e;
  color: white;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
.wrapper{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.tab-wrapper{
  width: 100%;
  h1 {
    text-align: center;
  }
  h2{
    padding: 0 20px;
  }
}




