@import "search";
@import "sidebar";
@import "watch_list";
body {
  background: #b4b4b4;
}

.wrapper{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.tab-wrapper{
  width: 80%;
}
.tab-wrapper h1 {
  text-align: center;
}



