.watch-list{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
  overflow: auto;
  .watch-item{
    width: 220px;
    margin-right: 10px;
    .title{
      height: 40px;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
      display: flex;
      align-items: flex-end;
    }
    .priority{
      font-size: 14px;
      margin: 5px 0;
      color: #a79c68;
      cursor: pointer;
    }
    .priority-change{
      width: 0;
      overflow: hidden;
      transition: .3s;
      display: flex;
      margin-top: 3px;
      input{
        font-size: 14px;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 0 10px;
        background: #000;
        color: #fff;
        border: none;
        width: 40px;
      }
      span{
        cursor: pointer;
        font-size: 14px;
        color: #a79c68;
        &:hover{
          color: #e1d28c;
        }
      }
    }
    .priority-wrapper{
      display: flex;
      &.open{
        .priority-change{
          width: 60%;
        }
      }
    }
    .img{
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #dcdcdc;
    }
    .delete{
      font-size: 18px;
      font-weight: 600;
      color: #ea4f51;
      cursor: pointer;
      transition: .3s;
      margin: 5px 0;
      &:hover{
        color: #ea1b17;
      }
    }
    .add{
      font-size: 18px;
      font-weight: 600;
      color: #89ea97;
      cursor: pointer;
      transition: .3s;
      margin: 5px 0;
      &:hover{
        color: #5aea5f;
      }
    }
    .added{
      font-size: 15px;
      color: #aba6a7;
      margin: 5px 0;
    }
    .viewed{
      cursor: pointer;
      transition: .3s;
      margin: 5px 0;
      font-size: 18px;
      font-weight: 600;
      color: #dcd806;
      &:hover{
        color: #fcff08;
      }
    }
  }
}
.watch-options{
  cursor: pointer;
  color: #a79c68;
  transition: .3s;
  padding: 0 20px;
  &:hover{
    color: #d8cd8b;
  }
}