.watch-list{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  .watch-item{
    width: 220px;
    height: 450px;
    margin-right: 10px;
    .title{
      height: 40px;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }
    .img{
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #dcdcdc;
    }
    .delete{
      font-size: 18px;
      font-weight: 600;
      color: #ea4f51;
      cursor: pointer;
      transition: .3s;
      margin: 5px 0;
      &:hover{
        color: #ea1b17;
      }
    }
    .add{
      font-size: 18px;
      font-weight: 600;
      color: #89ea97;
      cursor: pointer;
      transition: .3s;
      margin: 5px 0;
      &:hover{
        color: #5aea5f;
      }
    }
    .added{
      font-size: 15px;
      color: #aba6a7;
      margin: 5px 0;
    }
  }
}